<a href="https://colab.research.google.com/github/Ebardaji25/Criterion-_Scary-_Movies/blob/main/Criterion__Scary__Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# the goal of this project is to analyze the criterion scary movie dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("criterion_scary_movies.csv")

In [4]:
df.head()

,Movie,Director,Tagline,Country,Runtime,Certificate,Year
0,Antichrist,Lars von Trier,NaN,Denmark,108,Not Rated,2009
1,The Blob,Irvin S. Yeaworth Jr.,Indescribable...indestructible...nothing can s...,United States,82,Not Rated,1958
2,Blood for Dracula,Paul Morrissey,He couldn't live without a virgin's blood...So...,United States,103,Not Rated,1974
3,The Brood,David Cronenberg,"They're Waiting...For You!""",Canada,92,R,1979
4,Carnival of Souls,Herk Harvey,She escaped death. Now it wants her back!,United States,78,Approved,1962

In [5]:
df.tail()

,Movie,Director,Tagline,Country,Runtime,Certificate,Year
46,Vampyr,Carl Theodor Dreyer,NaN,Denmark,73,Not Rated,1932
47,The Vanishing,George Sluizer,NaN,France;Netherlands,106,Not Rated,1988
48,Videodrome,David Cronenberg,First it controlled her mind...then it destroy...,Canada,89,R,1983
49,White Dog,Samuel Fuller,Trained to kill.,United States,90,PG,1982
50,The X from Outer Space,Kazui Nihonmatsu,What is this monstrous thing?,Japan,88,PG,1967

In [7]:
df["Country"]

0                Denmark
1          United States
2          United States
3                 Canada
4          United States
5          United States
6          United States
7         Czechoslovakia
8                 Mexico
9                  Japan
10          Mexico;Spain
11                France
12        United Kingdom
13         United States
14                 Japan
15         United States
16         United States
17                France
18        United Kingdom
19         United States
20               Austria
21                 Japan
22                 Japan
23         United States
24               Denmark
25                 Japan
26         United States
27         United States
28                 Japan
29                 Japan
30                 Japan
31             Guatemala
32                 Japan
33         United States
34         United States
35         United States
36         United States
37                 Japan
38                 Spain
39        United Kingdom
40        United Kingdom
41         United States
42                Canada
43         United States
44         United States
45         United States
46               Denmark
47    France;Netherlands
48                Canada
49         United States
50                 Japan
Name: Country, dtype: object